<header>
        <% if(locals.user) {%>
            <div class="header-code">
                <div>
                    <%= locals.user.name.toUpperCase() %>
    
                </div>
                <div>
                    <a href="/user/sign-out" >Sign Out</a>
                </div>

            </div>
            
            
        
        <% }else{ %>

            <div class="header-code">
                <div>
                    Code Social
                </div>
                <div>
                    <a href="/user/sign-in" >Sign In</a>
                    <a href="/user/sign-up" >Sign Up</a>
                </div>

            </div>

        <% } %>

</header>