<header>
        <% if(locals.user) {%>
            <div class="header-code">
                <div>
                    <a href="/user/personal-profile/<%= locals.user._id%>"><b><%= locals.user.name.toUpperCase() %></b></a>   
    
                </div>
                <div>
                    <a href="/user/sign-out" >Sign Out</a>
                </div>

            </div>
            
            
        
        <% }else{ %>

            <div class="header-code">
                <div>
                    Code Social
                </div>
                <div>
                    <a href="/user/sign-in" >Sign In</a>
                    <a href="/user/sign-up" >Sign Up</a>
                </div>

            </div>

        <% } %>

</header>