<image src="<%= profileUser.avatar %>" style="width:100px;border-radius: 50%;"> 

</image>
<% if(user.id == userId){%>
    <form action="/user/personal-profile-update/<%= userId%>" method="POST" enctype="multipart/form-data">
        <input type="email" name="email" placeholder="Your Email" value="<%= profileUser.email %>" required><br>
        <input type="file" placeholder="Profile Picture" name="avatar">
        <input type="password" name="password" placeholder="Your password" value="<%= profileUser.password %>" required><br>
        <input type="submit" value="Update">
    
    </form>

<%}%>