header{
    height : 50px;
    .header-code{
        display:flex;
        height: fit-content;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(21, 21, 245);
        position: sticky;
        top : 2px;
        height: inherit;
        vertical-align: top;
        div{
            padding: 10px;
            color:white;
        }
        a{
            color : white;
            text-decoration: none;
        }
    }
    
}