#container{
    
    display:flex;
    #post-section{
        width:70%;
        height: 100%;
    }
    #user-section{
        width:30%;
        border-left: 1px solid lightgray;
        height: inherit;
        a{
            text-decoration: none;
            color: black;
            li{
                list-style-type:disc;
    
            }
        }

    }
}