#container {
  display: flex;
}

#container #post-section {
  width: 70%;
  height: 100%;
}

#container #user-section {
  width: 30%;
  border-left: 1px solid lightgray;
  height: inherit;
}

#container #user-section a {
  text-decoration: none;
  color: black;
}

#container #user-section a li {
  list-style-type: disc;
}
